#page-index{
  .navbar{
    padding-top: 0;
    padding-bottom: 0;
    background: #FFFFFF;
  }

  .wrapper{
    padding-bottom: 4rem;

    .page-header{
      &.page-header-small{
        min-height: 44vh;
        max-height: 440px;
      }

      .content-bottom{
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 2;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        padding: 0 15px;
        width: 100%;
        max-width: 880px;
      }

      .header-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 30vh;
        max-height: 190px;

        .subtitle{
          font-weight: 500;
          font-size: 1.88rem;
          font-family: Helvetica;
          color: rgba(255,255,255,1);
          line-height: 2.25rem;

          span{
            font-size: .9rem;
            line-height: .9rem;
          }
        }

        .desc{
          font-size: 1rem;
          font-weight: 400;
          font-family: PingFangSC-Regular;
          color: rgba(255,255,255,1);
          line-height: 2rem;
        }
      }
    }

    .link-bar{
      .row{
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
      }

      .info{
        padding: 2rem 0 1.5rem 0;

        .icon.icon-circle{
          width: 3.5rem;
          height: 3.5rem;
          color: #fff;

          i{
            line-height: 3.5rem;
          }
        }

        .icon-report{
          background: rgba(255,102,0,1);
        }

        .icon-test{
          background: rgba(255,120,162,1);
        }

        .icon-grt{
          background: rgba(0,184,158,1);
        }

        .info-title{
          margin-bottom: 0;
          font-size: 0.88rem;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(85,85,85,1);
          line-height: 1.38rem;
        }
      }
    }

    .article-list{
      padding: 0 1.25rem;

      .card{
        margin: 1.5rem 0;

        .card-body{
          padding: 0 0 1rem 0;

          .card-title{
            margin: 0;
            font-size: 1.13rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(0,0,0,1);
            line-height: 1;
          }

          .card-description{
            display: flex;
            justify-content: space-between;
            margin-top: .5rem;
            margin-bottom: 0;
            font-size: 0.88rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: rgba(119,119,119,1);
            line-height: 1.63rem;
          }
        }

        .card-image{
          .img{
            width: 100%;
            height: 8.38rem;
            border-radius: 0.38rem;
          }

          .img-tag{
            position: absolute;
            top: .63rem;
            right: -.25rem;
            width: 3.94rem;
            height: 1.13rem;
            font-size: 0.63rem;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(255,255,255,1);
            text-align: center;
            line-height: 0.88rem;
            background: url("../../../assets/img/pages/bg-articleimg.png") no-repeat center;
          }
        }

        .media{
          margin-top: .75rem;

          .pull-left{
            padding: 0;

            .avatar{
              margin-right: .75rem;
              width: 2.13rem;
              height: 2.13rem;
            }
          }

          .media-body{
            .media-heading{
              display: flex;
              justify-content: space-between;
              margin-bottom: .38rem;
              font-size: 0.88rem;
              font-family: PingFangSC-Regular;
              font-weight: 400;
              line-height: 1.14rem;

              span:nth-of-type(1){
                color: rgba(29,29,29,1);
              }

              span:nth-of-type(2){
                color: rgba(189,189,189,1);
              }
            }

            .media-desc{
              font-size: 0.75rem;
              font-family: PingFangSC-Regular;
              font-weight: 400;
              color: rgba(153,153,153,1);
              line-height: 1;
            }
          }
        }
      }
    }
  }

  .footer{
    padding: .8rem 0;
    height: 4rem;
    background: rgba(255,255,255,1);
    box-shadow: 0rem -0.03rem 0rem 0rem rgba(0,0,0,0.1);

    .container{
      display: flex;
      justify-content: space-between;
    }

    .footer-item{
      width: 3rem;

      a{
        color: #000;
      }

      i{
        font-size: 1.25rem;
        color: #000;
      }

      p{
        font-size: 0.75rem;
        font-family: Helvetica;
        color: rgba(0,0,0,0.85);
        line-height: 1rem;
      }
    }
  }
}