#page-index{

  .wrapper{

    .content-bottom{
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 2;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      text-align: center;
      color: #FFFFFF;
      padding: 0 15px;
      width: 100%;
      max-width: 880px;
    }

  }
}